div .filter {
  text-align: center;
}

div .filter > button {
  width: 110px;
  height: 30px;
  margin: 50px 10px 0 10px;
  background-color: #8d228f;
  color: #f5f5f5f5;
  border-radius: 5px;
}

div .filter > button:hover {
  filter: brightness(0.5);
}

.icon {
  margin: -3px 2px;
}

span {
  margin-left: 2px;
}
