.App {
  max-width: 1200px;
  margin-left: auto;
}

.App h2 {
  margin-top: 3.5rem;
  font-size: 1.75rem;
  font-weight: 500;
}

.card-list {
  display: flex;
  max-width: 1200px;
  margin-top: 1rem;
  flex-wrap: wrap;
}

/* LOADER */
.loader-container {
  margin: 50px auto;
}

#loader {
  margin: 0 auto;
  border: 1.6rem solid pink;
  border-radius: 50%;
  border-top: 1.6rem solid purple;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
